---
import Layout from "@layouts/Layout.astro";
import { UserButton } from "@clerk/astro/components";
import TaskForm from "@components/TaskForm.tsx";
import Pomodoro from "@components/Pomodoro.tsx";
import ProjectSwitcher from "@components/ProjectSwitcher.tsx";
import TasksList from "@components/TasksList.tsx"

const user = await Astro.locals.currentUser();
if (!user) return new Response("Unauthorized", { status: 401 });

//TODO: edit this
const boardId = import.meta.env.NOTION_DATABASE_ID;


const propertiesUrl = new URL(`/api/boards/${boardId}/properties`, Astro.request.url);
const boardPropertiesResponse = await fetch(propertiesUrl.toString(), {
  headers: {
    'cookie': Astro.request.headers.get('cookie') || '',
    'authorization': Astro.request.headers.get('authorization') || ''
  }
});
const boardProperties = await boardPropertiesResponse.json();
console.log("bp",boardProperties)
---

<Layout>
    <main>

        <nav
            class="fixed top-0 z-50 w-full bg-white border-b border-midnight-200 dark:bg-midnight-800 dark:border-midnight-700"
        >
            <div class="px-3 py-3 lg:px-5 lg:pl-3">
                <div class="flex items-center justify-between">
                    <div class="flex items-center justify-start rtl:justify-end">
                        <a href="/" class="flex ms-2 md:me-24">
                            <img
                                src="logo.svg"
                                class="h-8 me-3 aspect-square"
                                alt="Solanum Logo"
                            />
                            <span
                                class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-emerald-500"
                                >Solanum</span
                            >
                        </a>
                    </div>
                    <div class="flex items-center">
                        <div class="flex items-center ms-3">
                            <UserButton />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    
        <aside
            id="logo-sidebar"
            class="fixed top-0 left-0 z-40 h-screen pt-20 pb-44
                w-full md:w-64
                border-r 
                bg-white border-midnight-200
                dark:bg-midnight-800 dark:border-midnight-700
            "
            aria-label="Sidebar"
        >
            <div
                class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-midnight-800"
            >
                <ProjectSwitcher client:load />
                <TasksList client:load />
            </div>
        </aside>
        <div class="hidden sm:block pt-6 sm:ml-64 mt-14 px-24">
            <TaskForm properties={boardProperties} client:load />
        </div>
    </main>
    <Pomodoro client:load />
</Layout>


