---
import Layout from '../layouts/Layout.astro';
import {
	SignedOut,
	SignedIn,
	SignInButton
} from "@clerk/astro/components";

---

<Layout>
    <main class="min-h-screen flex items-center justify-center">
		<section class="">
			<div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
				<div class="mr-auto place-self-center lg:col-span-7">
					<h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-emerald-500">
						SOLANUM
					</h1>
					<p class="max-w-2xl mb-6 font-medium text-midnight-200 lg:mb-8 md:text-lg lg:text-xl">
						A productivity tool that combines the Pomodoro technique with Notion, helping you stay focused and organized.
					</p>
					<SignedOut>
						<div class="mt-10">
							<SignInButton mode="modal"
								class="inline-block font-medium px-8 py-3 border-2 rounded-full transition transform hover:scale-105 hover:text-emerald-500 cursor-pointer"
							>
								Get Focused
							</SignInButton>
						</div>
					</SignedOut>
					<SignedIn>
						<div class="mt-10">
							<a	href="/app"
								class="inline-block font-medium px-8 py-3 border-2 rounded-full transition transform hover:scale-105 hover:text-emerald-500"
							>
								Go to APP
							</a>
						</div>
					</SignedIn>					
				</div>
				<div class="hidden lg:mt-0 lg:col-span-5 lg:flex rounded-xl mask-x-from-95% mask-y-from-95% rotate-x-20 -rotate-y-45 aspect-square h-[600px]">
					<img src="/hero.png" alt="mockup">
				</div>                
			</div>
		</section>
    </main>
</Layout>