---
import Layout from '../layouts/Layout.astro';
import {
	SignedOut,
	SignInButton
} from "@clerk/astro/components";

---

<Layout>
    <main class="min-h-screen flex items-center justify-center">
        <div class="max-w-xl mx-auto px-4 py-16 text-center">
            <h1 class="text-4xl font-bold tracking-tight">SOLANUM</h1>
            
            <p class="mt-6 text-lg text-gray-400">
                A productivity tool that combines the Pomodoro technique with Notion, helping you stay focused and organized.
            </p>
			<SignedOut>
				<div class="mt-10">
					<SignInButton mode="modal"
						class="inline-block font-medium px-8 py-3 border-2 rounded-full"
					>
						Get Started
					</SignInButton>
				</div>
			</SignedOut>
        </div>
    </main>
</Layout>