<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Solanum</title>
	</head>
	<body class="bg-white dark:bg-midnight-900">
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	@custom-variant dark (&:where(.dark, .dark *));
	@theme {
		--color-midnight-900: #0d1318;
		--color-midnight-800: #162129;
		--color-midnight-700: #293945;
		--color-midnight-600: #374454;
		--color-midnight-500: #475463;
		--color-midnight-400: #5c6875;
		--color-midnight-300: #7b8491;
		--color-midnight-200: #a1a8ad;
		--color-midnight-100: #ccd1d4;
		--color-midnight-50:  #e8ebed;
	}
</style>

<style>
	html,
	body {
		color: white;
		color-scheme: light dark;
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>


